.App {
  display: flex;
  font-family: "IBM Plex Sana Thai Looped", sans-serif;
  /* color: white; */
  /* background: linear-gradient(to bottom, #000000 30%, #423f42 70%); */
  text-shadow: 1px 0px 2px #8dc4f0;
  height: 100vh;
  /* overflow: hidden; */
  flex-wrap: wrap;
}
.main-area {
  margin-left: 14rem;
  background-image: linear-gradient(to  right, rgb(16, 15, 15),
  rgb(0, 0, 0));
  height:calc(100vh - 5rem);
  position: relative;
  
  top: 0.1px;
  
  overflow: hidden;
}
.m-area{
    overflow:scroll;
    scroll-behavior: smooth;
    
    height: 100vh;
}
.main-area img {
  width: 100vw;
  height: 60vh;
 
}
